.imagen {
    width: 70%;
}

.html {
    font-size: 62.5%;
}

.icon {
    width: 45px;
}

.alinear {
    display: flex;
    justify-content: center;
}

.boton {
    text-align: center;
}

#contenido {
    min-height: 401px;
}

.body {
    background-color: violet;
}

.boton {
    margin-top: 25px;
    padding: 5px;
    width: 225px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}